@import url("https://fonts.googleapis.com/css2?family=Karla:wght@200;300;400;500;600;700;800&display=swap");

main {
  position: relative;
  background-color: #f5f5f5;
  min-height: 25em;
  width: 30em;
  border-radius: 0.4em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1em;
}

@media (max-width: 475px) {
  main {
    width: 100vw;
  }
}

@media (max-width: 154px) {
  .die-container {
    text-align: center;
  }
}

.roll-btn {
  min-height: 2em;
  min-width: 6em;
  background-color: blue;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #5035ff;
  color: #ffffff;
  box-shadow: 0px 3.2px 7.68px rgba(0, 0, 0, 0.18);
  border-radius: 0.3em;
  font-family: "Karla";
  font-style: normal;
  font-weight: 700;
  font-size: 1.3em;
  line-height: 1.3em;
  cursor: pointer;
}

.die-container {
  max-width: 16em;
}

.dienum-container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.die-face {
  height: 3em;
  width: 3em;
  display: inline-block;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  margin: 0.1em;
  cursor: pointer;
}

.die-num {
  margin: 0;
  color: #2b283a;
}

.title {
  font-size: 40px;
  margin: 0;
}

.instructions {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  margin-top: 0;
  text-align: center;
}

.info-container {
  text-align: center;
  max-width: 19em;
}